
table.common {
  width: 97%;
  border:none;
}
.common th {
  border:none;
  background-color: #0099ff;
}
.common td {
  border:none;
}

.common tr:nth-child(1) {
  background-color: #009999;
}
.common tr:nth-child(odd) {
  background-color: #D6EEEE;
}


* {
  box-sizing: border-box;
}



div.pages {
    width: 100%;
    height: auto;
}

div.page {
  position: relative;
  display: block;
  width:100%;
  height: auto;
}

div.singlepage {
  position: relative;
  display: block;
  width:95%;
  height: auto;
  left: 1%;
}


.image  {
  width: 100%; /* Adjust as needed */
  height: auto;
}

.imageboxstyle {
  width: 100%; /* Adjust as needed */
  height: auto;
}


.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 100%;
  object-fit: contain;
  border-style: solid;
  border-color: rgb(240, 240, 240);
}

.canvasPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 100%;
  object-fit: contain;
  border-style: solid;
  border-color: rgb(240, 240, 240);
}


div.table {
  top: 18%;
  left: 2%;
  position: fixed;
  overflow-y: scroll;
  height:245px;
  float: left;
  width: 200px;
  padding: 5px;
  background-color:#ccc;
  z-index: 2;
}
div.head {
  background-color:DodgerBlue;
}


div.player {
  position: fixed;
  bottom: 0;
  width: 96%;
  height:12%;
}


div.top1 {
  position: relative;
}
div.top2 {
  position: relative;
  display: inline-block;
  top: 35%;
  left: 4%;
}
div.top3 {
  display: inline-block;
}

div.bottom1 {
  position: absolute;
  display: inline-block;
  right:2%;
  top: 4%;
}


div.header {
  position: absolute;
  width:  100%;
  height: 10%;
  background-color:#ccc;
  z-index: 3;
}


div.base {
  position: absolute;
  left: 2%;
  width:  98%;
  height: 98%;
}

div.frame {
  top: 5%;
  position: absolute;
  width:  95%;
  height: 95%;
}

div.footer {
  position: absolute;
  bottom: 0;
  width:  100%;
  height: 13%;
  background-color:#ccc;
  z-index: 3;
}
div.content {
  position: absolute;
  bottom: 13%;
  top: 11%;
  width:  100%;
  height: 75%;
  overflow-x: scroll; /* Horizontal scroll */
  overflow-y: scroll; /* Vertical scroll */
}

